In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from tqdm import tqdm
import shutil

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/QTL_analysis_051223/QTLARS_UCD1_2.txt'

# Try reading with different encodings
try:
    f1 = pd.read_csv(file_path, delimiter='\t', encoding='utf-8')
except UnicodeDecodeError:
    # If utf-8 fails, try with 'latin1'
    f1 = pd.read_csv(file_path, delimiter='\t', encoding='latin1')

# Now 'f1' contains your data

In [ ]:
# Read the original file
df = pd.read_csv('/content/drive/MyDrive/QTL_analysis_051223/QTLARS_UCD1_2.txt', delimiter='\t', encoding='latin1')

# Get unique chromosomes in the DataFrame
unique_chromosomes = df["Chromosome"].unique()
unique_chromosomes

array(['Chr.X', 'Chr.1', 'Chr.2', 'Chr.3', 'Chr.4', 'Chr.5', 'Chr.6',
       'Chr.7', 'Chr.8', 'Chr.9', 'Chr.10', 'Chr.11', 'Chr.12', 'Chr.13',
       'Chr.14', 'Chr.15', 'Chr.16', 'Chr.17', 'Chr.18', 'Chr.19',
       'Chr.20', 'Chr.21', 'Chr.22', 'Chr.23', 'Chr.24', 'Chr.25',
       'Chr.26', 'Chr.27', 'Chr.28', 'Chr.29', 'Chr.30'], dtype=object)

In [ ]:
qtl_df=pd.read_csv('/content/drive/MyDrive/QTL_analysis_051223/QTL_ARS_UCD1_2/qtl_data_Chr.6.txt', delimiter='\t', encoding='latin1')
qtl_df.shape

(22533, 6)

In [ ]:
# Read the original file
df = pd.read_csv('/content/drive/MyDrive/QTL_analysis_051223/QTLARS_UCD1_2.txt', delimiter='\t', encoding='latin1')

# Get unique chromosomes in the DataFrame
unique_chromosomes = df["Chromosome"].unique()

# Iterate through each unique chromosome and create a separate file for each
for chromosome in unique_chromosomes:
    # Create a DataFrame for the specific chromosome
    chromosome_df = df[df["Chromosome"] == chromosome]

    # Define the output file name based on the chromosome
    output_file = f"qtl_data_{chromosome}.txt"

    # Save the DataFrame to a separate file
    chromosome_df.to_csv(output_file, sep='\t', index=False)

    # save the file into drive
    shutil.copy(output_file, "/content/drive/MyDrive/QTL_analysis_051223/QTL_ARS_UCD1_2")

In [ ]:
# Alter way to read the file with header
# import pandas as pd

# file_path = '/content/drive/MyDrive/QTL_analysis_051223/QTLARS_UCD1_2.txt'

# # Provide column names if the file has no header
# column_names = ["column1", "column2", "column3", ...]

# # Read the file without a header
# f1 = pd.read_csv(file_path, delimiter='\t', header=None, names=column_names, encoding='latin1')

# # Now 'f1' contains your data without a header

In [ ]:
# hereford_f1=f1[f1["Description"].str.contains("breed=hereford", case=False)]

In [ ]:
hereford_qtl=pd.DataFrame(columns=list(f1))
for index,row in f1.iterrows():
  if "hereford" in row["Description"].lower():
    hereford_qtl=hereford_qtl.append(row, ignore_index=True)

<ipython-input-28-4e4038bb444a>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  hereford_qtl=hereford_qtl.append(row, ignore_index=True)

In [ ]:
hereford_qtl

,Chromosome,Source,QTL Class,QTL Span1,QTL Span2,Description
0,Chr.X,Animal QTLdb,Health_QTL,3909680,3909684,QTL_ID=213440;Name=Mean corpuscular hemoglobin...
1,Chr.X,Animal QTLdb,Production_Association,10178167,10178171,QTL_ID=69495;Name=Body weight gain;Abbrev=;PUB...
2,Chr.X,Animal QTLdb,Production_Association,16223927,16223931,QTL_ID=69480;Name=Body weight;Abbrev=;PUBMED_I...
3,Chr.X,Animal QTLdb,Production_Association,54460489,54460493,QTL_ID=69479;Name=Body weight;Abbrev=;PUBMED_I...
4,Chr.X,Animal QTLdb,Health_QTL,55531905,55531909,QTL_ID=213462;Name=Mean corpuscular volume;Abb...
...,...,...,...,...,...,...
15634,Chr.29,Animal QTLdb,Health_Association,47370160,47370164,QTL_ID=160393;Name=Bovine respiratory disease ...
15635,Chr.29,Animal QTLdb,Health_QTL,48070829,48070833,QTL_ID=135859;Name=Tick resistance;Abbrev=;PUB...
15636,Chr.29,Animal QTLdb,Production_Association,49234276,49234280,QTL_ID=164540;Name=Body weight;Abbrev=;PUBMED_...
15637,Chr.29,Animal QTLdb,Production_Association,49635487,49635491,QTL_ID=69458;Name=Body weight gain;Abbrev=;PUB...
15638,Chr.29,Animal QTLdb,Production_Association,49722186,49722190,QTL_ID=69442;Name=Body weight;Abbrev=;PUBMED_I...

In [ ]:
hereford_qtl.to_csv("hereford_qtl.csv")

In [ ]:
import shutil

shutil.copy("hereford_qtl.csv", '/content/drive/MyDrive/QTL_analysis_051223')

'/content/drive/MyDrive/QTL_analysis_051223/hereford_qtl.csv'

In [ ]:
qtl_df=pd.read_csv('/content/drive/MyDrive/QTL_analysis_051223/QTL_ARS_UCD1_2/qtl_data_Chr.X.txt', delimiter='\t', encoding='latin1')

In [ ]:
qtl_df.columns

Index(['Chromosome', 'Source', 'QTL Class', 'QTL Span1', 'QTL Span2',
       'Description'],
      dtype='object')

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/gene_ext/ins/30/new/common30_LOV.csv")

In [ ]:
df.shape

(3321, 14)

In [ ]:
a=0
b=0
c=0

In [ ]:
# Identifying the variations
final_df = pd.DataFrame(columns=list(qtl_df.columns)+["startpos.r"]+["endpos.r"]+["startpos.q"]+["endpos.q"]+["seq.r"]+["seq.q"]+["LOV"]+["gene_type"])
for i, row in tqdm(df.iterrows()):
    # Check for the at start
    if qtl_df[(qtl_df["QTL Span1"]==row["startpos.r"]) & (qtl_df["QTL Span2"]>row["endpos.r"])].shape[0]>=1:
        tmp_df = qtl_df[(qtl_df["QTL Span1"]==row["startpos.r"]) & (qtl_df["QTL Span2"]>row["endpos.r"])].copy(deep=True)
        tmp_df["gene_type"] = "at_start"
        tmp_df["startpos.r"] = row["startpos.r"]
        tmp_df["endpos.r"] = row["endpos.r"]
        tmp_df["startpos.q"] = row["startpos.q"]
        tmp_df["endpos.q"] = row["endpos.q"]
        tmp_df["seq.r"] = row["seq.r"]
        tmp_df["seq.q"] = row["seq.q"]
        tmp_df["LOV"] = row["LOV"]
        final_df = pd.concat([final_df,tmp_df]).reset_index(drop=True)
        a=a+1
    # check for the at end
    elif qtl_df[(qtl_df["QTL Span1"]<row["startpos.r"]) & (qtl_df["QTL Span2"]==row["endpos.r"])].shape[0]>=1:
        tmp_df = qtl_df[(qtl_df["QTL Span1"]<row["startpos.r"]) & (qtl_df["QTL Span2"]==row["endpos.r"])].copy(deep=True)
        tmp_df["gene_type"] = "at_end"
        tmp_df["startpos.r"] = row["startpos.r"]
        tmp_df["endpos.r"] = row["endpos.r"]
        tmp_df["startpos.q"] = row["startpos.q"]
        tmp_df["endpos.q"] = row["endpos.q"]
        tmp_df["seq.r"] = row["seq.r"]
        tmp_df["seq.q"] = row["seq.q"]
        tmp_df["LOV"] = row["LOV"]
        final_df = pd.concat([final_df,tmp_df]).reset_index(drop=True)
        b=b+1
    # Check for the within gene
    elif qtl_df[(qtl_df["QTL Span1"]<row["startpos.r"]) & (qtl_df["QTL Span2"]>row["endpos.r"])].shape[0]>=1:
        tmp_df = qtl_df[(qtl_df["QTL Span1"]<row["startpos.r"]) & (qtl_df["QTL Span2"]>row["endpos.r"])].copy(deep=True)
        tmp_df["gene_type"] = "within_gene"
        tmp_df["startpos.r"] = row["startpos.r"]
        tmp_df["endpos.r"] = row["endpos.r"]
        tmp_df["startpos.q"] = row["startpos.q"]
        tmp_df["endpos.q"] = row["endpos.q"]
        tmp_df["seq.r"] = row["seq.r"]
        tmp_df["seq.q"] = row["seq.q"]
        tmp_df["LOV"] = row["LOV"]
        final_df = pd.concat([final_df,tmp_df]).reset_index(drop=True)
        c=c+1
    else:
        pass

3321it [00:06, 500.64it/s]

In [ ]:
final_df

,Chromosome,Source,QTL Class,QTL Span1,QTL Span2,Description,startpos.r,endpos.r,startpos.q,endpos.q,seq.r,seq.q,LOV,gene_type
0,Chr.X,Animal QTLdb,Reproduction_Association,60229323,60229327,QTL_ID=92305;Name=Age at puberty;Abbrev=;PUBME...,60229325,60229325,38310148,38310149,G,GA,1,within_gene

In [ ]:
final_df.shape

(1, 14)

In [ ]:
final_df.to_csv("qtl_insX.csv")

In [ ]:
shutil.copy("qtl_insX.csv", "/content/drive/MyDrive/QTL_analysis_051223/QTL_ins" )

'/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_insX.csv'

In [ ]:
# QTL_anal_table

q1=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_ins1.csv")
q6=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_ins6.csv")
q8=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_ins8.csv")
q12=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_ins12.csv")
q14=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_ins14.csv")
q23=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_ins23.csv")
q26=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_ins26.csv")
q29=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_ins29.csv")
qX=pd.read_csv("/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/qtl_insX.csv")

In [ ]:
table_qtl_ins=pd.DataFrame(columns=list(q1))

In [ ]:
table_qtl_ins

Empty DataFrame
Columns: [Unnamed: 0, Chromosome, Source, QTL Class, QTL Span1, QTL Span2, Description, startpos.r, endpos.r, startpos.q, endpos.q, seq.r, seq.q, LOV, gene_type]
Index: []

In [ ]:
table_qtl_ins=pd.concat([table_qtl_ins, q1, q6, q8, q12, q14, q23, q26, q29, qX])

In [ ]:
table_qtl_ins

,Unnamed: 0,Chromosome,Source,QTL Class,QTL Span1,QTL Span2,Description,startpos.r,endpos.r,startpos.q,endpos.q,seq.r,seq.q,LOV,gene_type
0,0,Chr.1,Animal QTLdb,Meat_and_Carcass_Association,142368830,142368834,QTL_ID=233229;Name=Connective tissue amount;Ab...,142368834,142368834,145234169,145234170,A,AG,1,at_end
0,0,Chr.6,Animal QTLdb,Meat_and_Carcass_Association,295085,295089,QTL_ID=225793;Name=Shear force;Abbrev=;PUBMED_...,295087,295087,180125,180127,t,taa,2,within_gene
0,0,Chr.8,Animal QTLdb,Reproduction_Association,106835107,106835111,QTL_ID=176757;Name=First service conception;Ab...,106835108,106835108,112201968,112201969,t,tg,1,within_gene
1,1,Chr.8,Animal QTLdb,Reproduction_Association,106835107,106835111,QTL_ID=177065;Name=Conception rate;Abbrev=;PUB...,106835108,106835108,112201968,112201969,t,tg,1,within_gene
2,2,Chr.8,Animal QTLdb,Reproduction_Association,106835107,106835111,QTL_ID=212194;Name=First service conception;Ab...,106835108,106835108,112201968,112201969,t,tg,1,within_gene
3,3,Chr.8,Animal QTLdb,Reproduction_Association,106835107,106835111,QTL_ID=212653;Name=Inseminations per conceptio...,106835108,106835108,112201968,112201969,t,tg,1,within_gene
0,0,Chr.12,Animal QTLdb,Milk_Association,69508336,69508340,QTL_ID=203647;Name=Milk C16 index;Abbrev=;PUBM...,69508340,69508340,68887640,68887641,T,TC,1,at_end
0,0,Chr.14,Animal QTLdb,Milk_Association,60339555,60339559,QTL_ID=252891;Name=Milk protein percentage;Abb...,60339555,60339555,58463189,58463190,c,ca,1,at_start
0,0,Chr.23,Animal QTLdb,Milk_Association,51262365,51262369,QTL_ID=254830;Name=Milk protein percentage;Abb...,51262369,51262369,52218781,52218783,g,gta,2,at_end
0,0,Chr.26,Animal QTLdb,Milk_Association,21082816,21082820,QTL_ID=100403;Name=Milk fat yield;Abbrev=;PUBM...,21082818,21082818,21482473,21482475,a,aNN,2,within_gene
1,1,Chr.26,Animal QTLdb,Milk_Association,24139945,24139949,QTL_ID=99963;Name=Milk fat yield;Abbrev=;PUBME...,24139948,24139948,24749737,24749738,T,TG,1,within_gene
2,2,Chr.26,Animal QTLdb,Milk_Association,26343809,26343813,QTL_ID=33505;Name=Milk C14 index;Abbrev=;PUBME...,26343811,26343811,26415296,26415297,G,GR,1,within_gene
3,3,Chr.26,Animal QTLdb,Milk_Association,26343809,26343813,QTL_ID=197729;Name=Milk C14 index;Abbrev=;PUBM...,26343811,26343811,26415296,26415297,G,GR,1,within_gene
4,4,Chr.26,Animal QTLdb,Milk_Association,26343809,26343813,QTL_ID=202925;Name=Milk myristoleic acid conte...,26343811,26343811,26415296,26415297,G,GR,1,within_gene
5,5,Chr.26,Animal QTLdb,Milk_Association,26343809,26343813,QTL_ID=209223;Name=Milk C16 index;Abbrev=;PUBM...,26343811,26343811,26415296,26415297,G,GR,1,within_gene
6,6,Chr.26,Animal QTLdb,Milk_Association,26343809,26343813,QTL_ID=209224;Name=Milk palmitoleic acid conte...,26343811,26343811,26415296,26415297,G,GR,1,within_gene
7,7,Chr.26,Animal QTLdb,Meat_and_Carcass_Association,29328988,29328992,QTL_ID=227140;Name=Shear force;Abbrev=;PUBMED_...,29328991,29328991,29527024,29527033,T,TACCATGCAC,9,within_gene
0,0,Chr.29,Animal QTLdb,Meat_and_Carcass_Association,35151872,35151876,QTL_ID=232973;Name=Marbling score;Abbrev=;PUBM...,35151874,35151874,36887888,36887889,t,ta,1,within_gene
0,0,Chr.X,Animal QTLdb,Reproduction_Association,60229323,60229327,QTL_ID=92305;Name=Age at puberty;Abbrev=;PUBME...,60229325,60229325,38310148,38310149,G,GA,1,within_gene

In [ ]:
table_qtl_ins.to_csv("table_qtl_ins.csv")

In [ ]:
shutil.copy("table_qtl_ins.csv","/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/" )

'/content/drive/MyDrive/QTL_analysis_051223/QTL_ins/table_qtl_ins.csv'